<div class="row headerTitle valign-wrapper">
    <div class="col l9">
        <h1 class="center-align headerTitle">Developers Scraping By...</h1>
    </div>
    <div class="col l3">
        <button class="btn btn-lg green scraping modal-trigger" href="#notificationModal">Scrape More Articles</button>
    </div>
</div>
<div class="center-align">
    <div class="container row">
        {{#if scrapes}}
        {{#each scrapes}}
        <section class="scrapeArea">
        <div class="row">
            <div class="col l9">
                <a href="https://www.reddit.com{{this.link}}" data-id={{this._id}} target="_blank"><h4>{{this.title}}</h4></a>
                {{#if this.comment}}
                <h4>Comments</h4>
                <hr class="commentDivider">
                {{#each this.comment}}
                <div class="commentSection">
                    <h5>{{this.author}}</h5>
                    <p>{{this.blurb}}</p>
                </div>
                {{/each}}
                {{/if}}
            </div>
            <hr class="articleDivider">
        <div class="col l3">
        <button class="btn btn-lg commentButton" data-id={{this._id}}>Comment!</button>
        <div class="commentForm" data-id={{this._id}}>
            <div class="input-field">
                <input data-id={{this._id}} class="name" placeholder="Name">
            </div>
            <div class="input-field">
                <textarea data-id={{this._id}} class="comment materialize-textarea"></textarea>
            </div>
            <button data-id={{this._id}} class="btn btn-sm blue formPush">Send</button>
        </div>
        </div>
        </div>
        </section>
        {{/each}}
        {{/if}}
    </div>

{{!-- Notification Modal --}}
<div id="notificationModal" class="modal">
    <div class="modal-content">
      <h4>Notification:</h4>
      <p class="modalText"></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm blue modal-close" id="modalContinue"><i class="material-icons">thumb_up</i>Yes, continue.</button>
      <button class="btn btn-sm red modal-close" id="modalCancel"><i class="material-icons">cancel</i>Cancel</button>
    </div>
  </div>
</div>